<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="src/iro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Colors.js/1.2.4/colors.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@2.5.1/dist/vue-onsenui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
    <div id="app">
        <template id="main-page">
            <v-ons-page>
                <v-ons-toolbar>
                    <div class="center">
                        LED Controller
                    </div>
                </v-ons-toolbar>
                <v-ons-card v-show="!loaded">
                    <div class="title">Trying to reconnect..</div>
                    <h1>
                        <v-ons-progress-bar indeterminate></v-ons-progress-bar>
                    </h1>

                </v-ons-card>


                <v-ons-card v-show="loaded">
                    <div class="title">LED Control</div>
                    <center>

                        <label class="center" for="switch1">
                            {{ ledstate ? 'On' : 'Off' }}
                        </label>
                        <v-ons-switch input-id="switch1" v-model="ledstate" @click="">
                        </v-ons-switch>
                        <div id="color-picker-container"></div>

                        <v-ons-select style="width: 40%" v-model="selectedItem" v-on:click="fetchData">
                            <option v-for="n in AmountStrips" :value="n">
                                {{ n }}
                            </option>
                        </v-ons-select>


                    </center>
                </v-ons-card>


            </v-ons-page>
        </template>

    </div>
</body>
<script src="src/vuescript.js"></script>

</html>